.banner {
    background-color: bisque;
    color: black;
    margin-top: 75px;
    text-align: center;
    padding: 15px;
}

.bold {
    font-weight: 900;
}

#wolf {
    height: 100px;
    width: 100px;
}

#mainsection {
    color: rgb(196, 254, 120);
    font-size: 75px;
}