{% extends "base.html" %}

{% block title %}Coments page{% endblock %}


{% block content %}

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobsearch">Job Search</a></li>
        <li><a href="/comments_page">Comments page</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<div class="job-details-container">
<section class="job-results">
{% for comment in comments %}
    <div class="row">
        {{ comment.content }}
    </div>
{% endfor %}

        <div>
            This is the first dummy comment.
        </div>

        <div>
            This is the the second dummy comment.  It's no more interesting
            than the first.
        </div>

        <div>
            This is the third dummy comment.  It's actually quite exciting!
        </div>

        <div>
            <form action="{{ url_for('comments_page') }}" method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
        </div>
</section>
</div>
{% endblock %}