{% extends "base.html" %}
{% block title %} Secret Page for Neta {% endblock %}

{% block content %}

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobsearch">Job Search</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/comments_page">Comments page</a></li>
        <li><a href="/tease_neta">Secret</a></li>
    </ul>
</nav>


    <section class="tease-page">
        <h2>Hey {{current_user.user_name}}!</h2>
        <p>Looks like some things changed</p>
        <img src="https://media.giphy.com/media/3o7TKzcmwoGTq2vH4I/giphy.gif" alt="Funny coding GIF">
        <p class="footer-note">P.S. Ask Chat if he can block this page for you!</p>
    </section>


{% endblock %}
