{% extends "base.html" %}

{% block title %}Upload Excel File{% endblock %}

{% block content %}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jobsearch">Job Search</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/comments_page">Comments page</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<div class="upload-container">
    <h2 class="upload-title">Upload an Excel File</h2>
    <p class="upload-description">Upload an Excel file (.xls or .xlsx) to populate the database with company data.</p>

    <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data" class="upload-form">
        <div class="file-input-wrapper">
                <input type="file" name="file" id="file-upload" class="file-input" required>
        </div>
        <button type="submit" class="upload-btn">Upload</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
